/* Main Layout Constraints and Background */
.Settings {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  overflow: hidden;
}

/* Header */
.header {
  width: 100%;
  padding: 10px 0;
  position: relative;
}
.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
}
.header-left {
  position: absolute;
  left: 45px; 
  top: 50%;
  transform: translateY(-50%);
}
.header-right {
  position: absolute;
  right: 45px; 
  top: 50%;
  transform: translateY(-50%);
}
.title-image {
  width: 200px; 
}
.back-button {
  background: none;
  border: none;
  font-size: 55px;
  cursor: pointer;
  padding: 5px;
  color: #333;
  transition: transform 0.2s ease-in-out;
}

/* Divider */
.divider {
  width: 100%;
  height: 1px;
  background-color: #272727;
  margin-top: 2vh; 
}

/* Main Page Content */
.page-content {
  width: 100%;
  display: flex;
  flex-direction: space-between;
  margin-top: 5vh;
}

/* Left Section */
.left-section {
  width: 50%;
  display: flex;
  flex-direction: column; 
  align-items: center; 
}

/* Right Section */
.right-section {
  width: 50%; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10vh;
}

/* Section Titles */
.title {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 1vh;
}

/* Left Side Styling */
.weight-section, .crop-fill-rate-section, .pto-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; 
}

/* Values */
.weight-value, .crop-fill-value, .pto-value, .load-position-label {
  font-size: 30px;
  margin: 10px 5px;
}

/* +/- Buttons */
.buttons {
  display: flex;
}
.buttons button {
  padding: 5px 15px;
  margin: 0 5px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  background-color: #272727;
  color: white;
  cursor: pointer;
}

/* Buttons */
.quick-load-button, .reset-button, .pto-toggle-button, .close-button {
  margin-top: 1vh;
  margin-bottom: 8vh;
  padding: 15px;
  border-radius: 10px;
  font-size: 30px;
  background-color: #272727;
  color: white;
  border: none;
  cursor: pointer;
}

/* PTO Toggling */
.pto-on {
  background-color: green;
}
.pto-off {
  background-color: red;
}

/* PTO Slider */
.pto-slider {
  width: 40%;
}

/* Load Position Container */
.load-position-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8vh;;
}

/* Load Position Slide Track */
.load-position-slider {
  width: 220%;  
  height: 10px; 
  background-color: #ddd; 
  border-radius: 5px; 
  appearance: none; 
  margin: 3vh 3vh;
}

/* Slidable Icon */
.load-position-slider::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 0; 
  height: 0; 
  border-left: 25px solid transparent;
  border-right: 25px solid transparent; 
  border-top: 35px solid black; 
  margin-top: 5px;
  position: relative; 
  cursor: pointer; 
  transition: background-color 0.3s ease;
}

/* Machine Image */
.machine-image-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.machine-image {
  width: 100%;
  height: auto;
}